// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #764f23;
	--ion-color-primary-rgb: 118,79,35;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #68461f;
	--ion-color-primary-tint: #846139;

	--ion-color-secondary: #0163aa;
	--ion-color-secondary-rgb: 1,99,170;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #015796;
	--ion-color-secondary-tint: #1a73b3;

	--ion-color-tertiary: #6030ff;
	--ion-color-tertiary-rgb: 96,48,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #542ae0;
	--ion-color-tertiary-tint: #7045ff;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}
// @media (prefers-color-scheme: dark) {
//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */

//   body {
//     --ion-color-primary: #428cff;
//     --ion-color-primary-rgb: 66,140,255;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255,255,255;
//     --ion-color-primary-shade: #3a7be0;
//     --ion-color-primary-tint: #5598ff;

//     --ion-color-secondary: #50c8ff;
//     --ion-color-secondary-rgb: 80,200,255;
//     --ion-color-secondary-contrast: #ffffff;
//     --ion-color-secondary-contrast-rgb: 255,255,255;
//     --ion-color-secondary-shade: #46b0e0;
//     --ion-color-secondary-tint: #62ceff;

//     --ion-color-tertiary: #6a64ff;
//     --ion-color-tertiary-rgb: 106,100,255;
//     --ion-color-tertiary-contrast: #ffffff;
//     --ion-color-tertiary-contrast-rgb: 255,255,255;
//     --ion-color-tertiary-shade: #5d58e0;
//     --ion-color-tertiary-tint: #7974ff;

//     --ion-color-success: #2fdf75;
//     --ion-color-success-rgb: 47,223,117;
//     --ion-color-success-contrast: #000000;
//     --ion-color-success-contrast-rgb: 0,0,0;
//     --ion-color-success-shade: #29c467;
//     --ion-color-success-tint: #44e283;

//     --ion-color-warning: #ffd534;
//     --ion-color-warning-rgb: 255,213,52;
//     --ion-color-warning-contrast: #000000;
//     --ion-color-warning-contrast-rgb: 0,0,0;
//     --ion-color-warning-shade: #e0bb2e;
//     --ion-color-warning-tint: #ffd948;

//     --ion-color-danger: #ff4961;
//     --ion-color-danger-rgb: 255,73,97;
//     --ion-color-danger-contrast: #ffffff;
//     --ion-color-danger-contrast-rgb: 255,255,255;
//     --ion-color-danger-shade: #e04055;
//     --ion-color-danger-tint: #ff5b71;

//     --ion-color-dark: #f4f5f8;
//     --ion-color-dark-rgb: 244,245,248;
//     --ion-color-dark-contrast: #000000;
//     --ion-color-dark-contrast-rgb: 0,0,0;
//     --ion-color-dark-shade: #d7d8da;
//     --ion-color-dark-tint: #f5f6f9;

//     --ion-color-medium: #989aa2;
//     --ion-color-medium-rgb: 152,154,162;
//     --ion-color-medium-contrast: #000000;
//     --ion-color-medium-contrast-rgb: 0,0,0;
//     --ion-color-medium-shade: #86888f;
//     --ion-color-medium-tint: #a2a4ab;

//     --ion-color-light: #222428;
//     --ion-color-light-rgb: 34,36,40;
//     --ion-color-light-contrast: #ffffff;
//     --ion-color-light-contrast-rgb: 255,255,255;
//     --ion-color-light-shade: #1e2023;
//     --ion-color-light-tint: #383a3e;
//   }

//   /*
//    * iOS Dark Theme
//    * -------------------------------------------
//    */

//   .ios body {
//     --ion-background-color: #000000;
//     --ion-background-color-rgb: 0,0,0;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-color-step-50: #0d0d0d;
//     --ion-color-step-100: #1a1a1a;
//     --ion-color-step-150: #262626;
//     --ion-color-step-200: #333333;
//     --ion-color-step-250: #404040;
//     --ion-color-step-300: #4d4d4d;
//     --ion-color-step-350: #595959;
//     --ion-color-step-400: #666666;
//     --ion-color-step-450: #737373;
//     --ion-color-step-500: #808080;
//     --ion-color-step-550: #8c8c8c;
//     --ion-color-step-600: #999999;
//     --ion-color-step-650: #a6a6a6;
//     --ion-color-step-700: #b3b3b3;
//     --ion-color-step-750: #bfbfbf;
//     --ion-color-step-800: #cccccc;
//     --ion-color-step-850: #d9d9d9;
//     --ion-color-step-900: #e6e6e6;
//     --ion-color-step-950: #f2f2f2;

//     --ion-item-background: #000000;

//     --ion-card-background: #1c1c1d;
//   }

//   .ios ion-modal {
//     --ion-background-color: var(--ion-color-step-100);
//     --ion-toolbar-background: var(--ion-color-step-150);
//     --ion-toolbar-border-color: var(--ion-color-step-250);
//   }


//   /*
//    * Material Design Dark Theme
//    * -------------------------------------------
//    */

//   .md body {
//     --ion-background-color: #121212;
//     --ion-background-color-rgb: 18,18,18;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-border-color: #222222;

//     --ion-color-step-50: #1e1e1e;
//     --ion-color-step-100: #2a2a2a;
//     --ion-color-step-150: #363636;
//     --ion-color-step-200: #414141;
//     --ion-color-step-250: #4d4d4d;
//     --ion-color-step-300: #595959;
//     --ion-color-step-350: #656565;
//     --ion-color-step-400: #717171;
//     --ion-color-step-450: #7d7d7d;
//     --ion-color-step-500: #898989;
//     --ion-color-step-550: #949494;
//     --ion-color-step-600: #a0a0a0;
//     --ion-color-step-650: #acacac;
//     --ion-color-step-700: #b8b8b8;
//     --ion-color-step-750: #c4c4c4;
//     --ion-color-step-800: #d0d0d0;
//     --ion-color-step-850: #dbdbdb;
//     --ion-color-step-900: #e7e7e7;
//     --ion-color-step-950: #f3f3f3;

//     --ion-item-background: #1e1e1e;

//     --ion-toolbar-background: #1f1f1f;

//     --ion-tab-bar-background: #1f1f1f;

//     --ion-card-background: #1e1e1e;
//   }
// }

html {
	/* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
	--ion-dynamic-font: var(--ion-default-dynamic-font);
}


// CUSTOMIZE


// SEARCHBAR
// ion-searchbar.custom {
//   --background: #eaf8f1;
//   --color: #080000!important;
//   --placeholder-color: #fff;
//   --icon-color: #080000!important;
//   --clear-button-color: #fff;
//   --border-radius: 14px;
//   --padding: 10px!important;
//   padding: 10px!important;
// }

// .searchbar-input.sc-ion-searchbar-ios::placeholder {
//   color: #080000!important;
//   --color: #080000!important;
// }

ion-searchbar {
	--box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #c1c2c3;
	--border-radius: 10px;
	border-radius: 10px;
	background: #fff !important;
	--background: #fff !important;
}

ion-tab-button {
	--color-selected: var(--ion-color-primary) !important;
}

// SEGMENT

ion-segment {
	border-bottom: 1px solid #ccc !important;
}

ion-segment-button {
	--indicator-color: var(--ion-color-primary);
	font-size: 0.85rem !important;
	text-transform: capitalize !important;
	--color: #000;
	--color-checked: var(--ion-color-primary);
	--indicator-height: 2px;
	--padding-top: 0px !important;
	padding-top: 0px !important;
	--padding-bottom: 0px !important;
	padding-bottom: 0px !important;
}

/* Material Design styles */
ion-segment-button.md {
	// --color: #000;
	// --color-checked: #08a391;
	// --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
	// --color: #08a391;
	// --color-checked: #fff;
	// --border-radius: 20px;
}

// BUTTONS
ion-button {
	--box-shadow: none !important;
	box-shadow: none !important;
}


/*
 * Optional CSS
 * -----------------------------------
 */

/* This sets a different background and item background in light mode on ios */
.ios body {
	--ion-background-color: #f2f2f6;
	--ion-toolbar-background: var(--ion-background-color);
	--ion-item-background: #fff;
}

/* This sets a different background and item background in light mode on md */
.md body {
	--ion-background-color: #f9f9f9;
	--ion-toolbar-background: var(--ion-background-color);
	--ion-item-background: #fff;
}

/* This is added for the flashing that happens when toggling between themes */
ion-item {
	--transition: none;
}


/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/*
 * Dark Colors
 * -------------------------------------------
 */

//  body.dark {
//   --ion-color-primary: #428cff;
//   --ion-color-primary-rgb: 66, 140, 255;
//   --ion-color-primary-contrast: #ffffff;
//   --ion-color-primary-contrast-rgb: 255, 255, 255;
//   --ion-color-primary-shade: #3a7be0;
//   --ion-color-primary-tint: #5598ff;

//   --ion-color-secondary: #50c8ff;
//   --ion-color-secondary-rgb: 80, 200, 255;
//   --ion-color-secondary-contrast: #ffffff;
//   --ion-color-secondary-contrast-rgb: 255, 255, 255;
//   --ion-color-secondary-shade: #46b0e0;
//   --ion-color-secondary-tint: #62ceff;

//   --ion-color-tertiary: #6a64ff;
//   --ion-color-tertiary-rgb: 106, 100, 255;
//   --ion-color-tertiary-contrast: #ffffff;
//   --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//   --ion-color-tertiary-shade: #5d58e0;
//   --ion-color-tertiary-tint: #7974ff;

//   --ion-color-success: #2fdf75;
//   --ion-color-success-rgb: 47, 223, 117;
//   --ion-color-success-contrast: #000000;
//   --ion-color-success-contrast-rgb: 0, 0, 0;
//   --ion-color-success-shade: #29c467;
//   --ion-color-success-tint: #44e283;

//   --ion-color-warning: #ffd534;
//   --ion-color-warning-rgb: 255, 213, 52;
//   --ion-color-warning-contrast: #000000;
//   --ion-color-warning-contrast-rgb: 0, 0, 0;
//   --ion-color-warning-shade: #e0bb2e;
//   --ion-color-warning-tint: #ffd948;

//   --ion-color-danger: #ff4961;
//   --ion-color-danger-rgb: 255, 73, 97;
//   --ion-color-danger-contrast: #ffffff;
//   --ion-color-danger-contrast-rgb: 255, 255, 255;
//   --ion-color-danger-shade: #e04055;
//   --ion-color-danger-tint: #ff5b71;

//   --ion-color-dark: #f4f5f8;
//   --ion-color-dark-rgb: 244, 245, 248;
//   --ion-color-dark-contrast: #000000;
//   --ion-color-dark-contrast-rgb: 0, 0, 0;
//   --ion-color-dark-shade: #d7d8da;
//   --ion-color-dark-tint: #f5f6f9;

//   --ion-color-medium: #989aa2;
//   --ion-color-medium-rgb: 152, 154, 162;
//   --ion-color-medium-contrast: #000000;
//   --ion-color-medium-contrast-rgb: 0, 0, 0;
//   --ion-color-medium-shade: #86888f;
//   --ion-color-medium-tint: #a2a4ab;

//   --ion-color-light: #222428;
//   --ion-color-light-rgb: 34, 36, 40;
//   --ion-color-light-contrast: #ffffff;
//   --ion-color-light-contrast-rgb: 255, 255, 255;
//   --ion-color-light-shade: #1e2023;
//   --ion-color-light-tint: #383a3e;

//   // segments
//   ion-segment-button {
//     --indicator-color: #fefeff;
//     --color: #a1a2a3;
//     --color-checked: #fefeff;
//   }

//   // cards
//   ion-card {
//     --background: #2d2e2f;
//   }

// }

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

// .ios body.dark {
//   --ion-background-color: #000000;
//   --ion-background-color-rgb: 0, 0, 0;

//   --ion-text-color: #ffffff;
//   --ion-text-color-rgb: 255, 255, 255;

//   --ion-color-step-50: #0d0d0d;
//   --ion-color-step-100: #1a1a1a;
//   --ion-color-step-150: #262626;
//   --ion-color-step-200: #333333;
//   --ion-color-step-250: #404040;
//   --ion-color-step-300: #4d4d4d;
//   --ion-color-step-350: #595959;
//   --ion-color-step-400: #666666;
//   --ion-color-step-450: #737373;
//   --ion-color-step-500: #808080;
//   --ion-color-step-550: #8c8c8c;
//   --ion-color-step-600: #999999;
//   --ion-color-step-650: #a6a6a6;
//   --ion-color-step-700: #b3b3b3;
//   --ion-color-step-750: #bfbfbf;
//   --ion-color-step-800: #cccccc;
//   --ion-color-step-850: #d9d9d9;
//   --ion-color-step-900: #e6e6e6;
//   --ion-color-step-950: #f2f2f2;

//   --ion-item-background: #1c1c1d;

//   --ion-card-background: #1c1c1d;
// }

// .ios body.dark ion-modal {
//   --ion-background-color: var(--ion-color-step-100);
//   --ion-toolbar-background: var(--ion-color-step-150);
//   --ion-toolbar-border-color: var(--ion-color-step-250);
// }

/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

// .md body.dark {
//   --ion-background-color: #121212;
//   --ion-background-color-rgb: 18, 18, 18;

//   --ion-text-color: #ffffff;
//   --ion-text-color-rgb: 255, 255, 255;

//   --ion-border-color: #222222;

//   --ion-color-step-50: #1e1e1e;
//   --ion-color-step-100: #2a2a2a;
//   --ion-color-step-150: #363636;
//   --ion-color-step-200: #414141;
//   --ion-color-step-250: #4d4d4d;
//   --ion-color-step-300: #595959;
//   --ion-color-step-350: #656565;
//   --ion-color-step-400: #717171;
//   --ion-color-step-450: #7d7d7d;
//   --ion-color-step-500: #898989;
//   --ion-color-step-550: #949494;
//   --ion-color-step-600: #a0a0a0;
//   --ion-color-step-650: #acacac;
//   --ion-color-step-700: #b8b8b8;
//   --ion-color-step-750: #c4c4c4;
//   --ion-color-step-800: #d0d0d0;
//   --ion-color-step-850: #dbdbdb;
//   --ion-color-step-900: #e7e7e7;
//   --ion-color-step-950: #f3f3f3;

//   --ion-item-background: #1e1e1e;

//   --ion-toolbar-background: #1f1f1f;

//   --ion-tab-bar-background: #1f1f1f;

//   --ion-card-background: #1e1e1e;

// }

ion-title {
	font-size: 1.1rem !important;
}

ion-header {
	--box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
}

ion-item {
	--padding-top: 3px;
	--padding-bottom: 3px;

	ion-icon {
		font-size: 1.8rem;
		margin-right: 11px;
	}
}

// RADIO BUTTON
ion-radio {
	font-size: 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

ion-radio::part(container) {
	width: 20px;
	height: 20px;

	border-radius: 8px;
	border: 2px solid #ddd;
}

ion-radio::part(mark) {
	background: none;
	transition: none;
	transform: none;
	border-radius: 0;
}

ion-radio.radio-checked::part(container) {
	background: var(--ion-color-primary);
	border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
	width: 6px;
	height: 10px;

	border-width: 0px 2px 2px 0px;
	border-style: solid;
	border-color: #fff;

	transform: rotate(45deg);
}

ion-segment {
	transition: all ease-in-out 1s !important;
	--animation-duration: 1s !important; // Adjust the duration as needed
}

// BUTTONS
ion-button {
	--box-shadow: none !important;
	box-shadow: none !important;
	text-transform: unset!important;
}