<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Explore Our Collections</ion-title>
    <ion-buttons slot="end" routerLink="/cart">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar style="padding: 0px 10px;">
    <ion-searchbar placeholder="Search products"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">explore</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
