<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/wishlist">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center cormorant-garamond-semibold text-primary" style="font-size: 25px!important;">LUJO</ion-title>
    <ion-buttons slot="end" routerLink="/cart">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [scrollable]="true" [value]="segments[0].value">
      <ion-segment-button [value]="item.value" *ngFor="let item of segments;">
        <ion-label>{{item.label}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
